{% extends 'base.html' %}
{% block title %}Create  new blog post{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h4>Add Post</h4>
    <br/>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="container-sm">
                <div class="form-group">
                      <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-secondary">Post</button>
                      </form>
                </div>

              <script>
                  var name = "{{ user.id }}";
                  document.getElementById("user").value =
                    name;
              </script>

          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
{% else %}
    You don't currently have permission to access this page.
{% endif %}

{% endblock %}